/* Grand Central Station, Operator, Main */


//TYPEFACES

@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Import 

@import "normalize";
@import "lightgallery";
@import "lg-transitions";

// HEADER

header, footer {
    background-color: #ccc;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}

// FOOTER

footer {
    display: table-row;
    height: 1px;
    font-size: 1em;
}


// PORTFOLIO


.gallery {
    display: flex;
    flex-wrap: wrap;
}

figure {
    background: #ccc;
    padding: 10px;
    width; 30%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    font-family: 'Raleway';    
}

figure img {
   box-shadow: 2px 2px 2px gray;
}


figcaption {
    color: #fff;
}

// CAPTIONS

.caption {
    display: none;
}

// RWD 

/* Mobile: 320px = 20em */
	@media screen and (min-width: 20em)


	/* Tablet:  768px = 160em */
	@media screen and (min-width: 48em) 


	/* Desktop: 1280px = 80em */
	@media screen and (min-width: 80em) 
